@model List<stemmeApp.Models.ElectionInformation>
@{
    ViewBag.Title = "Home Page";
}
<!-- SKREVET AV ALEKSANDER NILSSON : Sist endret 04.06.2021 -->

<div class="jumbotron">
    <h1>USN Election 2021 </h1>
    @if (DateTime.Now < @Model[0].ElectionStart)
    {<!--Runs if election has not started yet-->
        <h2>The election opens for voting @Model[0].ElectionStart</h2>
    }
    else if (DateTime.Now < @Model[0].ElectionEnd)
    { <!--Runs if the election has started but not ended-->
        <h2>The election is <strong style="color: #18bc9c;">open</strong> until @Model[0].ElectionEnd</h2>
    }
    else if (DateTime.Compare(@Model[0].Controlled, DateTime.MinValue) == 0)
    { <!--Runs if the election has ended but results are not published-->
        <h2>The election has now <strong style="color: darkred;">closed</strong>, the results will be published as soon as possible</h2>
    }
    else
    { <!--Runs if the election is done and results are published-->
        <h2>The election has now closed, see the results <a href="~/Home/Results">here</a></h2>
    }
    <p class="lead">It its time to vote on your favourite candidate. With this application you can nominate and or register as a candidate. The candidate with the most votes wins! </p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>To be ready to vote when the election starts register a user now, nominating is already open for users.</p>
        <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Register user! &raquo;</a></p>
    }

</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Nominate someone</h2>
            <p>
                Nominate a person you think would do a good job as the leader for the student democracy, you can also nominate yourself!
            </p>
            <p><a class="btn btn-primary" href="~/Home/Nominate">Nominate here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Vote</h2>
            <p>
                Vote for the person yout think deserve to win the election
            </p>
            <p><a class="btn btn-primary" href="~/Home/Vote">Vote here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Manage your account</h2>
            <p>
                Change your password and check your candidate information
            </p>
            <p><a class="btn btn-primary" href="~/Manage">Manage account &raquo;</a></p>
        </div>
    </div>
}
