@using System.ComponentModel.DataAnnotations
@using System.Configuration
@using Microsoft.AspNet.Identity
@using stemmeApp.Models
@model stemmeApp.Models.VoteModel
<link rel="stylesheet" href="~/Content/Site.css">

<!-- Kode skrevet av Haris Brkic, sist endret 04.06.2021-->


@{
    ViewBag.Title = "Vote";

}
<br />
<h2>Vote for a candidate </h2>

<!-- Viser denne siden dersom valget ikke har startet-->
@if (DateTime.Now < @Model.ElectionInformation[0].ElectionStart)
{
    <h3>
        The voting panel for election: @Model.ElectionInformation[0].IdElection. will open at: @Model.ElectionInformation[0].ElectionStart
    </h3>
}

/* Viser denne siden dersom valget har sluttet */
else if (DateTime.Now > @Model.ElectionInformation[0].ElectionEnd)
{
    <h3>
        The voting panel for election: @Model.ElectionInformation[0].IdElection. ended at: @Model.ElectionInformation[0].ElectionEnd
    </h3>
}

/* Viser denne siden dersom valget er aktivt */
else
{
    <h4>
        If you don't see anyone you want to vote on, you can nominate anyone candidate <strong> @Html.ActionLink("here.", "Nominate", "Home") </strong>
    </h4>
    /* Hvis du har stemt på en kandidat, vil en knapp for å trekke stemme dukke opp*/
    if (TempData["VotedOn"] != null)
    {
        <form method="post" action="@Url.Action("RemoveVote", "home")">
            <input class="btn btn-danger" name="submit" type="submit" value="Revoke Vote" onclick="return confirm('Are you sure you want to revoke your vote?')" />
        </form>
    }

    /* Melding som forteller at du har stemt på en kandidat*/
    <br />
    if (TempData["VotedUser"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> @TempData["VotedUser"]</strong>
        </div>
    }

    /* Viser kandidaten du har nominert på */
    <br />
    if (TempData["CandidteSuccess"] != null)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong> @TempData["CandidteSuccess"]</strong>
        </div>
    }

    /* Melding som forteller at du har fjernet stemmen din */
    <br />
    if (TempData["RemoveVote"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["RemoveVote"]</strong>
        </div>
    }
    <br />

    foreach (var item in Model.Candidates)
    {
        <div class="b5card text-center p-card-style">


            <img class="card-img-top p-card-img-style" img src="~/@item.picture"/>
            <div class="card-body">
                <h3><strong class="card-text">@item.firstname @item.lastname </strong> </h3>
                <strong><p class="card-text">@item.faculty </p></strong>
                <strong><p class="card-text">@item.institute</p></strong>
                <p class="card-info">@item.info </p>


                <form method="post" action="@Url.Action("Vote", "Home")">
                    <input type="text" text-center name="username" value="@item.username" hidden />
                    <input style="width:50%; margin-bottom:5%;" class="btn btn-primary" name="submit" type="submit" value="Vote for candidate" onclick="return confirm('Are you sure you want to vote for @item.username')" />
                </form>


            </div>
        </div>

    }

}


